* {
    box-sizing: border-box;
    margin: 0;
    font-family: "robot", sans-serif;
  }
  body{
    background-image: url(./12.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  .df{
    display: flex;
  }
  .container{
    padding-top:120px ;
    padding-bottom: 120px;
    justify-content: space-around;
  }
  .board{
    gap: 8px;
    flex-direction: column;
    width: 300px;
    height: fit-content;
    padding: 8px;
    border-radius: 8px;
   background-color: #ebecf0;
   
  }
  .main{
    gap: 25px;
  }
  h1{
    color: #000;
    font-weight: 600;
    font-size: 20px;
  }
  .addtask{
    color: #000;
    font-weight: 600;
    font-size: 32px;
  }
  .board-head{
    align-items: center;
    padding: 8px;
    gap: 12px;
  }
  span{
    font-size: 16px;
    color: #00000080;
    font-weight: 600;
  }
  .add-card{
    padding: 8px;
    gap:16px ;
    align-items: center;
    cursor: pointer;
  }
  .add-card:hover{
    background-color: rgb(195, 191, 191);
    border-radius: 5px;
    transition: 0.2s;
  }
  .add-task{
    width: 400px;
    height: 490px;
    background-color: #ebecf0;
    border-radius: 8px;
    padding: 16px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    display: none;
  }
  .task-text{
    font-size: 14px;
  }
  .input1{
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0,3);
  }
  .input2{
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0,3);
    height: 100%;
  }
  select{
    width: 100%;
    padding: 8px;
    border-radius: 4px;

  }
  .button{
    padding: 8px;
    border-radius: 4px;
    border: none;
    background-color: #000;
    color: white;
    cursor: pointer;
    margin-top: 24px;
  }
.done {
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.deleteBtn {
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.editBtn {
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#to-do{
  height: fit-content;
  padding: 8px;
  border-radius: 4px;
  cursor: grab;
  background-color: white;
  display: none;
}
#cardHolder{
  padding: 8px;
  border-radius: 4px;
  background-color: white;
  cursor: grab;
  display: flex;
  gap: 12px;
}
.lastCSS{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.middle{
  width: 185px;
  flex: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.start{
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}
.priorit{
  width: fit-content;
    padding: 4px 8px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 12px;
}